<div id="<%= dom_id recebivel %>">
  <p>
    <strong>Pessoa:</strong>
    <%= recebivel.pessoa.nome %>
  </p>

  <p>
    <strong>Vencimento:</strong>
    <%= recebivel.vencimento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= recebivel.valor %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= recebivel.data_pagamento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= recebivel.status %>
  </p>

  <p>
    <strong>Valor recebido:</strong>
    <%= recebivel.valor_recebido %>
  </p>

</div>
