<div id="<%= dom_id recebivel %>">
  <p>
    <strong>Pessoa:</strong>
    <%= recebivel.pessoa.nome %>
  </p>
  <p>
    <strong>Categória:</strong>
    <%= recebivel.categoria %>
  </p>
    <p>
    <strong>Descrição:</strong>
    <%= recebivel.descricao %>
  </p>


  <p>
    <strong>Vencimento:</strong>
    <%= format_date(recebivel.vencimento) %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= format_curr(recebivel.valor) %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= format_date(recebivel.data_pagamento) %>
  </p>

  <p>
    <strong>Status:</strong>
     <%= recebivel.status == 1 ? "Pago" : "Pendente" %>
  </p>

  <p>
    <strong>Valor recebido:</strong>
    <%= format_curr(recebivel.valor_recebido) if recebivel.valor_recebido.present? %>
  </p>

</div>
