<div id="<%= dom_id transferencia %>">
  <p>
    <strong>Data:</strong>
    <%= format_date(transferencia.data) %>
  </p>

  <p>
    <strong>Saida:</strong>
    <%= Conta.find(transferencia.saida).descricao %>
  </p>

  <p>
    <strong>Valor saida:</strong>
    <%= format_curr(transferencia.valor_saida) %>
  </p>

  <p>
    <strong>Entrada:</strong>
    <%= Conta.find(transferencia.entrada).descricao %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= transferencia.motivo %>
  </p>

</div>
