<p style="color: green"><%= notice %></p>

<%= render @transferencia %>

<div>
  <%= link_to "Editar", edit_transferencia_path(@transferencia) %> |
  <%= link_to "Voltar ", transferencias_path %>

  <%= button_to "Apagar", @transferencia, method: :delete %>
</div>
