<p style="color: green"><%= notice %></p>

<h1>Contas</h1>

<div class="container mt-5">
  <div class="row">
    <% @contas.each do |conta| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= conta.descricao %></h5>
            <p class="card-text">Valor Inicial: <%= number_to_currency(conta.valor_inicial) %></p>
             <p class="card-text">Saldo: <h4 class="my-1 text-info"><%= number_to_currency(conta.saldo) %></h4> </p>
          </div>
          <div class="card-footer">
            <%= link_to 'Ver Detalhes', conta_path(conta), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Adicionar Conta", new_conta_path %>
