<%= form_with(model: pessoa, local: true, class: "needs-validation") do |form| %>
  <% if pessoa.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(pessoa.errors.count, "erro") %> impediram este pessoa de ser salvo:</h4>
      <ul>
        <% pessoa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :endereco, class: "form-label" %>
    <%= form.text_field :endereco, class: "form-control", required: true %>
  </div>
<div class= "row">
  <div class="col mb-3">
    <%= form.label :bairro, class: "form-label" %>
    <%= form.text_field :bairro, class: "form-control", required: true %>
  </div>

  <div class="col mb-3">
    <%= form.label :cidade, class: "form-label" %>
    <%= form.text_field :cidade, class: "form-control", required: true %>
  </div>
</div>
 <div class= "row">
  <div class="col mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="col mb-3">
    <%= form.label :telefone, class: "form-label" %>
    <%= form.telephone_field :telefone, class: "form-control", required: true %>
  </div>
</div>
<div class="row">
  <div class="mb-3">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
  <div class="mb-3">
    <%= link_to "Voltar", pessoas_path, class:"btn btn-secondary"  %>
 </div>
 </div>
<% end %>
 



