<div id="<%= dom_id pessoa %>">
  <p>
    <strong>Nome:</strong>
    <%= pessoa.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= pessoa.endereco %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= pessoa.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= pessoa.cidade %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pessoa.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= pessoa.telefone %>
  </p>

</div>
