<h1>Dashboard</h1>

<div class="row">
  <% @contas.each do |data| %>
    <div class="col-md-3 col-sm-4 mb-3">
      <div class="card h-100" style="background-color: <%= data[:cor_fundo] %>; color: <%= data[:cor_fonte] %>; font-size: 0.8rem; position: relative;">
        <div class="card-body d-flex flex-column align-items-center">
          <h6 class="card-title mb-1" style="font-size: 0.85rem;"><strong><%= truncate(data[:conta].descricao, length: 18) %></strong></h6>
          <p class="card-text mb-1">Saldo Atual:</p>
          <strong><%= number_to_currency(data[:saldo_atual]) %></strong>
          <p class="card-text mb-1">Saldo Mês Passado: <%= number_to_currency(data[:saldo_mes_passado]) %></p>
        </div>
        <div style="position: absolute; bottom: 45px; right: 10px; width: 30px; height: 30px; border-radius: 10%; background-color: white; display: flex; align-items: center; justify-content: center;">
          <% if data[:tendencia] == 1 %>
            <i class="fas fa-arrow-up text-success" style="font-size: 1.5rem;"></i>
          <% elsif data[:tendencia] == -1 %>
            <i class="fas fa-arrow-down text-danger" style="font-size: 1.5rem;"></i>
          <% else %>
            <i class="fas fa-arrow-right text-muted" style="font-size: 1.5rem;"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <!-- Card: Pagamentos e Recebíveis no Ano -->
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            Pagamentos e Recebíveis no Ano <%= @selected_year %> 
          </div>
          <div class="col-md-auto">
            <%= form_with url: root_path, method: :get, local: true do %>
              <div class="input-group mb-1">
                <label class="input-group-text" style="font-size: 0.80rem;" for="inputGroupSelect01">Ano</label>
                <%= select_tag :year, 
                               options_for_select((2000..Date.current.year).to_a.reverse, @selected_year), 
                               class: 'form-select form-select-sm', 
                               style: 'width: auto; font-size: 0.80rem;', 
                               onchange: 'this.form.submit();', 
                               id: 'inputGroupSelect01' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= line_chart [
              { name: "Pagos", data: @dados_mes_a_mes.transform_values { |v| v[:pagos] } },
              { name: "Recebidos", data: @dados_mes_a_mes.transform_values { |v| v[:recebidos] } }
            ], 
            ytitle: "Valor (R$)", 
            colors: ["#FFFFF", "#FFD700"] %>
      </div>
    </div>
  </div>


<!-- Card: Previsto vs Recebido -->
<div class="col">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          Mês Atual: Previsto vs Recebido
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= pie_chart @dados_previsto_recebido, 
                    title: "Mês Atual", 
                    donut: false, 
                    height: "300px", 
                    colors: ["#FFA500", "#FFFFF"] %>
    </div>
  </div>
</div>




  <!-- Card: Mês Atual vs Mês Anterior
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            Mês Atual vs Mês Anterior
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <%= pie_chart @dados_comparacao, 
                          title: "Receitas", 
                          donut: true, 
                          height: "160px", 
                          colors: ["#3498db", "#e74c3c"] %> 
          </div>
          <div class="col">
            <%= pie_chart @dados_comparacao_pag, 
                          title: "Despesas", 
                          donut: true, 
                          height: "160px", 
                          colors: ["#00FF7F", "#FFD700"] %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- RECEITAS E DESPESAS -->

<div class="col">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          Receitas e Despesas dos Últimos 6 Meses
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%= column_chart [
                { name: "Receitas", data: @receitas_por_mes },
                { name: "Despesas", data: @despesas_por_mes }
              ],
              height: "300px",
              colors: ["#FFD700", "#FFFFF"],
              library: {
                xAxis: {
                  title: 'Mês'
                },
                yAxis: {
                  title: 'Valor em R$'
                }
              } %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Card: Comparação de Recebimentos: Mês Atual vs Média dos Últimos 6 Meses 
<div class="row mt-4">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Comparação de Recebimentos: Mês Atual vs Média dos Últimos 6 Meses
      </div>
      <div class="card-body">
        <% @dados_grafico = @dados_cidades.map do |cidade|
            {
              cidade: cidade.cidade,
              numero_recebimentos_atual: cidade.numero_recebimentos_atual,
              media_recebimentos: cidade.media_recebimentos
            }
          end 
        %>
        <%= column_chart [
              { name: "Mês Atual", data: @dados_grafico.map { |d| [d[:cidade], d[:numero_recebimentos_atual]] } },
              { name: "Média dos Últimos 6 Meses", data: @dados_grafico.map { |d| [d[:cidade], d[:media_recebimentos]] } }
            ], 
            title: "Top 10 Cidades por Número de Recebimentos",
            height: "300px", 
            colors: ["#3498db", "#FFD700"] %>
      </div>
    </div>
  </div>
</div>

-->