<div id="<%= dom_id pagamento %>">
  <p>
    <strong>Pessoa:</strong>
    <%= pagamento.pessoa_id %>
  </p>

  <p>
    <strong>Vencimento:</strong>
    <%= pagamento.vencimento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= pagamento.valor %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= pagamento.data_pagamento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pagamento.status %>
  </p>

  <p>
    <strong>Valor pago:</strong>
    <%= pagamento.valor_pago %>
  </p>

</div>
