<div id="<%= dom_id pagamento %>">
  <p>
    <strong>Pessoa:</strong>
    <%= pagamento.pessoa.nome %>
  </p>

  <p>
    <strong>Vencimento:</strong>
    <%= format_date(pagamento.vencimento) %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= format_curr(pagamento.valor) %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= format_date(pagamento.data_pagamento) %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pagamento.status == 0 ? "Pago" : "Pendente" %>
  </p>

  <p>
    <strong>Valor pago:</strong>
    <%= format_curr(pagamento.valor_pago) %>
  </p>

</div>
