 <div class="d-sm-flex align-items-center justify-content-between mb-6">
    <h1 class="h3 mb-0 text-gray-800">Pagamentos </h1><p class="fst-italic d-print-none"><%= Pagamento.count == @pagamentosf.count ? "Registro(s): #{Pagamento.count}" : "Filtrado: #{@pagamentosf.count} de #{Pagamento.count}" %></p>
 </div>
 <div class="d-sm-flex align-items-center justify-content-between mb-6">
   <!-- Button to trigger modal -->
   
    <%= link_to new_pagamento_path, class: "d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm d-print-none" do %>
          <i class="fas fa-download fa-sm text-white-50"></i>
          Adicionar
    <% end %>
 
    <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm d-print-none" data-bs-toggle="modal" data-bs-target="#filtroModal">
      <i class="fas fa-filter fa-sm text-white-50"></i>
      Abrir Filtro
    </button>  
  
 </div>

<div class="modal fade" id="filtroModal" tabindex="-1" aria-labelledby="filtroModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filtroModalLabel">Filtrar Pagamentos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: pagamentos_path, method: :get, local: true, class: "row g-3" do %>
          <div class="row">
            <div class="col-md-5">
              <%= label_tag :pessoa_id, "Pessoa", class: "form-label" %>
              <%= select_tag :pessoa_id, options_from_collection_for_select(Pessoa.all.order(:nome), :id, :nome, params[:pessoa_id]), include_blank: true, class: "form-select" %>
            </div>
            <div class="col-md-3">
              <%= label_tag :status, "Status", class: "form-label" %>
              <%= select_tag :status, options_for_select([['Pago', 1], ['Pendente', 0]], params[:status]), include_blank: true, class: "form-select" %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-4">
              <div class="card">
                <h5 class="card-header">Período Entrada</h5>
                <div class="card-body">
                  <div class="col">
                    <%= label_tag :entrada_inicio, "Início", class: "form-label" %>
                    <%= date_field_tag :entrada_inicio, params[:entrada_inicio], class: "form-control" %>
                    <%= label_tag :entrada_fim, "Final", class: "form-label mt-2" %>
                    <%= date_field_tag :entrada_fim, params[:entrada_fim], class: "form-control" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <h5 class="card-header">Período Vencimento</h5>
                <div class="card-body">
                  <div class="col">
                    <%= label_tag :vencimento_inicio, "Início", class: "form-label" %>
                    <%= date_field_tag :vencimento_inicio, params[:vencimento_inicio], class: "form-control" %>
                    <%= label_tag :vencimento_fim, "Final", class: "form-label mt-2" %>
                    <%= date_field_tag :vencimento_fim, params[:vencimento_fim], class: "form-control" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <h5 class="card-header">Período Pagamento</h5>
                <div class="card-body">
                  <div class="col">
                    <%= label_tag :pagamento_inicio, "Início", class: "form-label" %>
                    <%= date_field_tag :pagamento_inicio, params[:pagamento_inicio], class: "form-control" %>
                    <%= label_tag :pagamento_fim, "Final", class: "form-label mt-2" %>
                    <%= date_field_tag :pagamento_fim, params[:pagamento_fim], class: "form-control" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col d-flex justify-content-center">
              <%= submit_tag "Filtrar", class: "btn btn-primary w-25" %>
            </div>
          </div>
        
        <% end %>
      </div>
    </div>
  </div>
</div>


<p style="color: green"><%= notice %></p>

<div class="container">

  
 <div class="table-responsive-sm">
  <table class="table table-sm table-hover table-striped mt-2">
    <thead>
      <tr>
        <th class="text-center"><%= sort_link(column: "created_at", label: "Entrada") %></th>
        <th><%= sort_link(column: "pessoa_name", label: "Pessoa") %> </th>
        <th class="text-center"><%= sort_link(column: "vencimento", label: "Vencimento") %></th>
        <th class="text-center"><%= sort_link(column: "valor", label: "Valor") %></th>
        <th class="text-center"><%= sort_link(column: "data_pagamento", label: "Pago") %></th>
        <th class="text-center"><%= sort_link(column: "status", label: "Status") %></th>
        <th class="text-center d-print-none">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% valor_por_pagina = 0 %>
      <% @pagamentos.each do |pagamento| %>
       <% if pagamento.vencimento.present? %> 
       <% vencido_e_nao_pago = pagamento.vencimento < Date.today && pagamento.status != 1 %>
       <tr <%= "class=table-danger" if vencido_e_nao_pago %>>
       <% else %>
       <tr>
       <% end %>
          <td class="text-center"><%= format_date(pagamento.created_at, :default ) %></td>
          <td><%= pagamento.pessoa.nome %></td>
          <td class="text-center"><%= format_date(pagamento.vencimento) %></td>
          <td class="text-end"><%= format_curr(pagamento.valor) %></td>
          <td class="text-center"><%= format_date(pagamento.data_pagamento) %></td>
          <td class="text-center"><%= pagamento.status == 1 ? '<i class="fas fa-check fa-sm text-success"></i>'.html_safe : '<i class="fas fa-times fa-sm text-danger"></i>'.html_safe %></td>
          <td class="text-end d-print-none">
          <%= link_to pagamento, class: "btn btn-info btn-sm d-print-none" do %>
          <i class="fas fa-eye fa-sm text-black"></i>         
          <% end %>
          <%= link_to edit_pagamento_path(pagamento), class: "btn btn-warning btn-sm d-print-none" do %>
          <i class="fas fa-pencil fa-sm text-black"></i>
           <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
 <td>

<div class= "d-print-none">
  <%= items_per_page_form(request.query_parameters) %>
</div>

 </td>
      <td ></td>
      <td class="text-center">Total</td>
      <td class="text-end fw-bold"><%= format_curr(@pagamentosf.sum(:valor)) %></td>
  
</table>
</div>
      <div class="fixed-bottom d-flex justify-content-center align-items-center d-print-none">
         <%= paginate @pagamentos %>
      </div> 
</div>
