<p style="color: green"><%= notice %></p>

<%= render @pagamento %>

<div>
  <%= link_to "Editar", edit_pagamento_path(@pagamento), class: "btn-sm btn-primary" %> |
  <%= link_to "Voltar", pagamentos_path, class: "btn-sm btn-primary"%>

  <%= button_to "Destroy this pagamento", @pagamento, method: :delete, , class: "btn-sm b4- " %>
</div>
